.site-index-top-spacer {
  padding: 5em 0;
  margin: 0 0 4em 0;
  background: whitesmoke;
  color: #aaa;
  font-size: 0.8em; }

.linkedinicon {
	fill: #ffffff;
}

.thumbnail {
	border: 0px ;
  height: 200px;
}

.image-container {
    height: 150px;      /* equals max image height */
    white-space: nowrap;
    
    text-align: center; margin: 1em 0;
}

.image-container-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-container img {
    vertical-align: middle;
    max-height: 150px;
    max-width: 160px;
}
