.site-index-top-spacer {
  padding: 5em 0;
  margin: 0 0 4em 0;
  background: whitesmoke;
  color: #aaa;
  font-size: 0.8em; }

.linkedinicon {
	fill: #ffffff;
}

.thumbnail {
	border: 0px ;
  height: 250px;
}

.image-container {
    height: 150px;      /* equals max image height */
    white-space: nowrap;
    
    text-align: center; margin: 1em 0;
}

.image-container-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-container img {
    vertical-align: middle;
    max-height: 150px;
    max-width: 160px;
}

.image-caption {
  font-style: italic;
  font-size: 75%;
  text-align: center;
  transform: translateY(-40px);
 }

 .imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;


  visibility: hidden;
  opacity: 0;

  text-align: center;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
  height: 200px;
  line-height: 200px;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.imgDescCenterV {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

.fixedheader
{
    height:50px;
}
.fixedcontent
{
    position:absolute;
    top: 50px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y:scroll;        
}​

.darkbackground {
  background: #33000000;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 190px;;
}

    .blog-cover-footer a {
      color: #fff;
      border: 0;
      width: 36px;
      height: 36px;
      border: 2px solid white;
      display: inline-block;
      padding: 10px 0;
      border-radius: 42px;
      margin: 1.5em 1em 0em 0;
      transition: 0.2s all ease;
      line-height: 0;
      text-align: center; 
    }
      .blog-cover-footer a:hover {
        transition: 0.2s all ease;
        background: #fff; }
        .blog-cover-footer  a:hover .icon-rss {
          background-position: 1px -11px; }
        .blog-cover-footer a:hover .icon-twitter {
          background-position: 0px -15px; }
        .blog-cover-footer a:hover .icon-facebook {
          background-position: 0px -14px; }
        .blog-cover-footer a:hover .icon-github {
          background-position: 0px -15px; }
        .blog-cover-footer a:hover .linkedinicon {
          fill: #000000;
        }

.site-footer-dark {
    background-color: rgba(0, 0, 0, 0.33)
}