.site-index-top-spacer {
  padding: 5em 0;
  margin: 0 0 4em 0;
  background: whitesmoke;
  color: #aaa;
  font-size: 0.8em; }

.linkedinicon {
	fill: #ffffff;
}

.thumbnail {
	border: 0px ;
  height: 250px;
}

.image-container {
    height: 150px;      /* equals max image height */
    white-space: nowrap;
    
    text-align: center; margin: 1em 0;
}

.image-container-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image-container img {
    vertical-align: middle;
    max-height: 150px;
    max-width: 160px;
}

.image-caption {
  font-style: italic;
  font-size: 75%;
  text-align: center;
  transform: translateY(-40px);
 }

 .imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;


  visibility: hidden;
  opacity: 0;

  text-align: center;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
  height: 200px;
  line-height: 200px;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.imgDescCenterV {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}
}

