.site-index-top-spacer {
  padding: 5em 0;
  margin: 0 0 4em 0;
  background: whitesmoke;
  color: #aaa;
  font-size: 0.8em; }

  .linkedinicon {
  	fill: #ffffff;
  }

  .linkedinicon:hover {
  	fill: #000000;
  }

  .other {
  	fill: #ffffff;
  }

  .other:hover {
  	fill: #000000;
  }