{{ partial "header.html" . }}
{{ if isset .Params "cover_image" }}
<div class="article-cover">
    <div>
        <img src="/images/{{ .Params.cover_image }}" class="image">
    </div>
</div>
{{ end }}
<article>

    <div class="container">
        <header>
            <h1 class="title">{{ .Title }}</h1>
            <h2 class="subtitle">{{ .Description }}</h2>
        </header>

        <section>
            {{ .Content }}
            {{ partial "_social.html" . }}
        </section>

        {{ with .Site.Params.inc.disqus.shortname }}
        <section>
            {{ partial "_disqus.html" . }}
        </section>
        {{ end }}
    </div>
</article>

{{ partial "footer.html" . }}
